<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, thanks for ordering from Jungle!</h1>
    <p>Here is your recepit: </p>
    <p>Total: <%= @total %></p>
    <p>Items:</p>
  </body>
</html>