// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
  .login {
    float: right;
    margin: 0 80px;
  }
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}
