<div class="review">
  <p><strong>User #<%= review.user_id %></strong></p>
  <p> <%= review.description %></p>
  <p>Rating: <%= review.rating %>/5</p>
  <%= link_to 'Delete', [review.product, review],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  <br>
</div>
